[Desktop Entry]
Name=Wubuntu Dark
Comment=A Windows Ubuntu 11 style demo.

X-KDE-PluginInfo-Author=rachid
X-KDE-PluginInfo-Email=support@wubuntu.org
X-KDE-PluginInfo-Name=wubuntu-dark-aurorae
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true
