[ContrastEffect]
contrast=1.2
enabled=true
intensity=.33
saturation=1.5
# contrast=1
# enabled=true
# intensity=-2
# saturation=-1
# set translucent background to FFFFFF at 5-10% opacity

[Desktop Entry]
Name=Wubuntu Dark
Comment=A Windows Ubuntu 11 style demo.
X-KDE-PluginInfo-Author=rachid
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=support@wubuntu.org
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=wubuntu-dark-plasma
X-KDE-PluginInfo-Version=.1
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0

[AdaptiveTransparency]
enabled=true
